main {
  background: url("./images/schoolfish.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.jumbo-land {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 25%;
}

div .jumbotron {
  background-color: slategray;
  color: white;
}

.mode {
  display: flex;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

.log-car {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3%;
 
 
}

.card {
  margin-top: 3%;
  width: 66%;
  border-radius: 15px !important;
  box-shadow:black 5px 5px 5px;
}


.card-map {
  display: flex;
  justify-content: space-between;
}

.nav-bar p {
  color: white;
}
