main {
  background: url("./images/schoolfish.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.jumbo-land {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

div .jumbotron {
  background-color: slategray;
  color: white;
}
